h1 Hello Audience
p Vote for your favorite dancer!

#stream1.hidden.votestream
	#foo.stream
	.votebox
		a.vote(href="javascript:void(0);") vote
	
#stream2.hidden.votestream
	#bar.stream
	.votebox
		a.vote(href="javascript:void(0);") vote

script(type='text/javascript', src="/javascripts/app/audience.js")

