h1 Hello Dancer
p Get ready to serve...
#publisherDiv

script(type='text/javascript')
	(function() {
		var publisher;
		$.when(YGS.tbconnect).then(function(session, event) {
			publisher = session.publish('publisherDiv');
		});
	})();
