h1 Wutup
p#loading Get ready to serve...

script(type='text/javascript')
	(function() {
		var publisher;
		$.when(YGS.tbconnect).then(function(session, event) {
			publisher = session.publish('loading');
		});
	})();
