h1= title
p Welcome to #{title}
ul
	li
		a(href='/audience') Audience
	li
		a(href='/dancer') Dancer

script(type='text/javascript')
	(function() {
		var socket = io.connect(window.location.origin);
		socket.on('news', function(data) {
			console.log(data);
			socket.emit('my other event', {my:'data'});
		});
	})();