!!!
html
	head
		title You Got Served!
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery.min.js')
		script(type='text/javascript', src='/javascripts/underscore-min.js')
		script(type='text/javascript', src='/javascripts/backbone-min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='http://staging.tokbox.com/v0.91/js/TB.min.js')
		script(type='text/javascript', src='/javascripts/app/main.js')
	body
		.topbar
			.fill
				.container
					a.brand(href="/") You Got Served!
		.container
			.content
				!{body}
			footer
				p &copy; Bryan Estrada 2011
			
		- if (token)
			script(type='text/javascript')
				(function() {
					var apiKey = '#{key}';
					var sessionId = '#{sessionId}';
					var token = '#{token}';           

					TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console

					var session = TB.initSession(sessionId);      
					session.addEventListener('sessionConnected', sessionConnectedHandler);      
					session.connect(apiKey, token);

					function sessionConnectedHandler(event) {
						YGS.tbconnect.resolve(session, event);
					}
				})();
